<launch>

  <!--- Run gmapping -->
  <include file="$(find jackal_tools)/launch/gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find jackal_tools)/launch/with_map_move_base.launch" />

        <!-- Start RVIZ for Localization -->
    <include file="$(find jackal_tools)/launch/view_robot.launch">
        <arg name="config" value="gmapping" />
    </include>
</launch>