<?xml version="1.0"?>
<launch>
 <node name="tf_velocity_estimator" pkg="tf_velocity_estimator" type="velocity_estimator.py" output="screen"/>
 <node name="aerial_local_planner" pkg="aerial_local_planner" type="local_planner.py" output="screen"/>
 <node name="aerial_global_planner" pkg="aerial_global_planner" type="global_planner.py" output="screen"/>
</launch>
 



