<launch>

    <!--- Start AMCL Localization -->
    <include file="$(find my_sumit_xl_tools)/launch/start_amcl_localization.launch" />
    
    <!-- Start EKF Localization -->
    <include file="$(find my_sumit_xl_tools)/launch/start_ekf_localization.launch" />
    
    <!-- Start Move Base -->
    <include file="$(find my_sumit_xl_tools)/launch/move_base_map.launch" />

</launch>