<launch> 
    <arg name="scan" default="/hokuyo_base/scan" />
    <arg name="machine" default="localhost" />
    <arg name="user" default="" />
    <!-- Leg Detector -->
    <node pkg="leg_detector" type="leg_detector" name="leg_detector" args="scan:=$(arg scan) $(find leg_detector)/config/trained_leg_detector.yaml" respawn="true" output="screen">
        <param name="fixed_frame" type="string" value="map" />
    </node>
    
    <!-- Custom Marker with person mesh -->
    <node pkg="sumit_xl_tools" type="leg_detector_marker_publisher.py" name="leg_detections_listener_node" respawn="true" output="screen">
    </node>

</launch> 