<launch>

    <include file="$(find sumit_xl_tools)/launch/start_navsat.launch" />


    <!-- Run the ekf for map to odom config -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_with_gps"> 
    <rosparam command="load" file="$(find sumit_xl_tools)/new_config/robot_localization_with_gps.yaml" />
    </node>

    <!-- Run the map server -->
    <include file="$(find sumit_xl_tools)/launch/start_map_server.launch" />

    <!--- Run Move Base -->
    <include file="$(find sumit_xl_tools)/launch/start_movebase_new_map.launch" />
    
    <!-- Start RVIZ for Localization -->
    <include file="$(find sumit_xl_tools)/launch/view_robot.launch">
        <arg name="config" value="navigation_map" />
    </include>

</launch>